HELP.md
target/
*.db
.attach_*
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.private.env.json

### VS Code ###
.vscode/

