---
spring:
  datasource:
    url: jdbc:sqlite:file:${BAYWATCH_HOME:.}/.baywatch/data.db?cache=shared&journal_mode=WAL&synchronous=NORMAL
    driver-class-name: org.sqlite.JDBC
    username: baywatch
    password: hasselhoff
  jooq:
    sql-dialect: sqlite

server:
  port: ${BAYWATCH_SERVER_PORT:8081}
  error:
    include-message: ALWAYS

logging:
  # Avoid infinite stacktrace due to reactor
  exception-conversion-word: "%wEx{full, reactor.core.publisher}"
  level:
    root: INFO
    org.jooq: WARN
    fr.ght1pc9kc.baywatch: ${BAYWATCH_LOG_LEVEL:DEBUG}
    fr.ght1pc9kc.scraphead: ${BAYWATCH_LOG_LEVEL:DEBUG}
    # Avoid unwanted log error ...
    org.springframework.boot.autoconfigure.jooq.JooqExceptionTranslator: OFF
    reactor.netty.http.client: ERROR

baywatch:
  base-route: /api
  security:
    cookie:
      name: X-TOKEN
      validity: ${BAYWATCH_COOKIE_VALIDITY:24h}
    jwt.validity: ${BAYWATCH_TOKEN_VALIDITY:1h}
  scraper:
    start: true
    frequency: ${BAYWATCH_SCRAPER_FREQUENCY:1h}
    conservation: ${BAYWATCH_SCRAPER_CONSERVATION:3m}
    timeout: ${BAYWATCH_SCRAPER_TIMEOUT:2s}
    dns.timeout: ${BAYWATCH_DNS_TIMEOUT:10s}
